			</div>
			<div class="col-3 form-group">
				<label for="prezzo" class="form-label">Prezzo</label>
				<input type="number" class="form-control" id="prezzo" th:errorClass="is-invalid"
					placeholder="Prezzo" th:field="*{prezzo}">
			</div>
			<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
				<ul>
					<li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}">
					</li>
				</ul>
			</div>
		</div>

		<div class="col-4">
			<h4>Ingredienti</h4>
			<div class="form-check" th:each="ing : ${allIngredienti}">
				<input class="form-check-input" type="checkbox" th:id="|ingredienti_${ing-id}|"
					th:value="${ing.id} th:field=*{ingredienti}">
				<label class="form-check-label" th:for="|ingredienti_${ing.id}|"
					th:text="${ing.ingredienti}"></label>
			</div>
		</div>

		<div class="col-12 form-group">
			<button type="submit" class="btn btn-primary mb-3">Salva Pizza</button>
			<a class="btn btn-danger" th:href="@{/pizze}">Torna al menù</a>
		</div>

	</form>
</div>
